In [1]:
#Imports
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [230]:
driver =webdriver.Chrome(r"C:\Users\anand\Downloads\chromedriver_win32 (2)\chromedriver.exe")
driver.get("https://www.cars24.com/")

In [81]:
Brand=[i.text for i in driver.find_elements(By.XPATH,"//h2[contains(@class,'_3FpCg')]")]
vriant=[i.text for i in driver.find_elements(By.XPATH,"//p[contains(@class,'cvakB')]")]
deatail=[i.text for i in driver.find_elements(By.XPATH,"//ul[contains(@class,'bVR0c')]")]
emi=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'_2HFRN')]")]
price=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'_7udZZ')]")]
down_payment=[i.text for i in driver.find_elements(By.XPATH,"//span[contains(@class,'_3X7mV _2H07I')]")]

data=list(zip(Brand,vriant,deatail,emi,price,down_payment))
df=pd.DataFrame(data,columns=['brand','model','details','emi','price','down payment'])
print("\ncars details")
df.head()

cars details

,brand,model,details,emi,price,down payment
0,2010 Maruti Swift Dzire,VXI Manual,"29,667 km\n1st Owner\nPetrol\nDL-7C","₹4,913/month","₹2,51,299",Zero Down Payment
1,2018 Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,"6,875 km\n2nd Owner\nPetrol\nUP-16","₹10,295/month","₹5,26,599",Zero Down Payment
2,2020 Maruti Swift,LXI Manual,"11,067 km\n1st Owner\nPetrol\nDL-3C","₹11,050/month","₹5,65,199",Zero Down Payment
3,2013 Maruti Wagon R 1.0,VXI Manual,"35,519 km\n1st Owner\nPetrol\nDL-13","₹5,445/month","₹2,78,499",Zero Down Payment
4,2020 Maruti Swift,LXI Manual,"16,633 km\n2nd Owner\nPetrol\nHR-51","₹11,075/month","₹5,66,499",Zero Down Payment

In [82]:
df2=df

In [83]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         1067 non-null   object
 1   model         1067 non-null   object
 2   details       1067 non-null   object
 3   emi           1067 non-null   object
 4   price         1067 non-null   object
 5   down payment  1067 non-null   object
dtypes: object(6)
memory usage: 50.1+ KB

In [84]:
new=df2["details"].str.split('\n',n=1,expand=True)
df2["km"]=new[0]
new=df2["details"].str.split('\n',n=2,expand=True)
df2["owner"]=new[1]
new=df2["details"].str.split('\n',n=3,expand=True)
df2["fuel"]=new[2]
new=df2["details"].str.split('\n',n=4,expand=True)
df2["city/state"]=new[3]

In [85]:
df2.drop(["details"],axis=1,inplace=True)

In [86]:
new=df2["brand"].str.split(' ',n=1,expand=True)
df2["manufacturing year"]=new[0]

In [87]:
new=df2["brand"].str.split(' ',n=1,expand=True)
df2["Brand"]=new[1]

In [88]:
df2.drop(["brand"],axis=1,inplace=True)

In [89]:
df2

,model,emi,price,down payment,km,owner,fuel,city/state,manufacturing year,Brand
0,VXI Manual,"₹4,913/month","₹2,51,299",Zero Down Payment,"29,667 km",1st Owner,Petrol,DL-7C,2010,Maruti Swift Dzire
1,SPORTZ 1.2 KAPPA VTVT Manual,"₹10,295/month","₹5,26,599",Zero Down Payment,"6,875 km",2nd Owner,Petrol,UP-16,2018,Hyundai Grand i10
2,LXI Manual,"₹11,050/month","₹5,65,199",Zero Down Payment,"11,067 km",1st Owner,Petrol,DL-3C,2020,Maruti Swift
3,VXI Manual,"₹5,445/month","₹2,78,499",Zero Down Payment,"35,519 km",1st Owner,Petrol,DL-13,2013,Maruti Wagon R 1.0
4,LXI Manual,"₹11,075/month","₹5,66,499",Zero Down Payment,"16,633 km",2nd Owner,Petrol,HR-51,2020,Maruti Swift
...,...,...,...,...,...,...,...,...,...,...
1062,DELTA CVT PETROL 1.2,"₹10,391/month","₹5,31,499",Zero Down Payment,"50,292 km",2nd Owner,Petrol,HR-10,2016,Maruti Baleno
1063,SPORTZ 1.2 Manual,"₹10,518/month","₹5,37,999",Zero Down Payment,"78,542 km",1st Owner,Petrol,DL-12,2016,Hyundai Elite i20
1064,LXI Manual,"₹4,373/month","₹2,23,699",Zero Down Payment,"82,248 km",1st Owner,Petrol,UP-14,2014,Maruti Alto 800
1065,XMA 1.5 Manual,"₹12,999/month","₹6,64,899",Zero Down Payment,"93,848 km",1st Owner,Diesel,DL-8C,2019,Tata NEXON
1066,VXI Manual,"₹7,210/month","₹3,68,799",Zero Down Payment,"98,438 km",1st Owner,Petrol,HR-26,2014,Maruti Swift

In [90]:
new=df2["emi"].str.split('\n',n=1,expand=True)
df2["EMI"]=new[0]
new=df2["emi"].str.split('\n',n=1,expand=True)
df2["nil"]=new[1]

In [91]:
df2.drop(["nil"],axis=1,inplace=True)
df2.drop(["emi"],axis=1,inplace=True)
df2

,model,price,down payment,km,owner,fuel,city/state,manufacturing year,Brand,EMI
0,VXI Manual,"₹2,51,299",Zero Down Payment,"29,667 km",1st Owner,Petrol,DL-7C,2010,Maruti Swift Dzire,"₹4,913/month"
1,SPORTZ 1.2 KAPPA VTVT Manual,"₹5,26,599",Zero Down Payment,"6,875 km",2nd Owner,Petrol,UP-16,2018,Hyundai Grand i10,"₹10,295/month"
2,LXI Manual,"₹5,65,199",Zero Down Payment,"11,067 km",1st Owner,Petrol,DL-3C,2020,Maruti Swift,"₹11,050/month"
3,VXI Manual,"₹2,78,499",Zero Down Payment,"35,519 km",1st Owner,Petrol,DL-13,2013,Maruti Wagon R 1.0,"₹5,445/month"
4,LXI Manual,"₹5,66,499",Zero Down Payment,"16,633 km",2nd Owner,Petrol,HR-51,2020,Maruti Swift,"₹11,075/month"
...,...,...,...,...,...,...,...,...,...,...
1062,DELTA CVT PETROL 1.2,"₹5,31,499",Zero Down Payment,"50,292 km",2nd Owner,Petrol,HR-10,2016,Maruti Baleno,"₹10,391/month"
1063,SPORTZ 1.2 Manual,"₹5,37,999",Zero Down Payment,"78,542 km",1st Owner,Petrol,DL-12,2016,Hyundai Elite i20,"₹10,518/month"
1064,LXI Manual,"₹2,23,699",Zero Down Payment,"82,248 km",1st Owner,Petrol,UP-14,2014,Maruti Alto 800,"₹4,373/month"
1065,XMA 1.5 Manual,"₹6,64,899",Zero Down Payment,"93,848 km",1st Owner,Diesel,DL-8C,2019,Tata NEXON,"₹12,999/month"
1066,VXI Manual,"₹3,68,799",Zero Down Payment,"98,438 km",1st Owner,Petrol,HR-26,2014,Maruti Swift,"₹7,210/month"

In [92]:
New_colm=['Brand','model','manufacturing year','city/state','fuel','owner','km','price','EMI','down payment']
df2=df2.reindex(columns=New_colm)
df2

,Brand,model,manufacturing year,city/state,fuel,owner,km,price,EMI,down payment
0,Maruti Swift Dzire,VXI Manual,2010,DL-7C,Petrol,1st Owner,"29,667 km","₹2,51,299","₹4,913/month",Zero Down Payment
1,Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,2018,UP-16,Petrol,2nd Owner,"6,875 km","₹5,26,599","₹10,295/month",Zero Down Payment
2,Maruti Swift,LXI Manual,2020,DL-3C,Petrol,1st Owner,"11,067 km","₹5,65,199","₹11,050/month",Zero Down Payment
3,Maruti Wagon R 1.0,VXI Manual,2013,DL-13,Petrol,1st Owner,"35,519 km","₹2,78,499","₹5,445/month",Zero Down Payment
4,Maruti Swift,LXI Manual,2020,HR-51,Petrol,2nd Owner,"16,633 km","₹5,66,499","₹11,075/month",Zero Down Payment
...,...,...,...,...,...,...,...,...,...,...
1062,Maruti Baleno,DELTA CVT PETROL 1.2,2016,HR-10,Petrol,2nd Owner,"50,292 km","₹5,31,499","₹10,391/month",Zero Down Payment
1063,Hyundai Elite i20,SPORTZ 1.2 Manual,2016,DL-12,Petrol,1st Owner,"78,542 km","₹5,37,999","₹10,518/month",Zero Down Payment
1064,Maruti Alto 800,LXI Manual,2014,UP-14,Petrol,1st Owner,"82,248 km","₹2,23,699","₹4,373/month",Zero Down Payment
1065,Tata NEXON,XMA 1.5 Manual,2019,DL-8C,Diesel,1st Owner,"93,848 km","₹6,64,899","₹12,999/month",Zero Down Payment
1066,Maruti Swift,VXI Manual,2014,HR-26,Petrol,1st Owner,"98,438 km","₹3,68,799","₹7,210/month",Zero Down Payment

In [94]:
df.to_csv('cars data.csv')

In [95]:
df2.to_csv('scraped cars data.csv')

In [96]:
df2

,Brand,model,manufacturing year,city/state,fuel,owner,km,price,EMI,down payment
0,Maruti Swift Dzire,VXI Manual,2010,DL-7C,Petrol,1st Owner,"29,667 km","₹2,51,299","₹4,913/month",Zero Down Payment
1,Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,2018,UP-16,Petrol,2nd Owner,"6,875 km","₹5,26,599","₹10,295/month",Zero Down Payment
2,Maruti Swift,LXI Manual,2020,DL-3C,Petrol,1st Owner,"11,067 km","₹5,65,199","₹11,050/month",Zero Down Payment
3,Maruti Wagon R 1.0,VXI Manual,2013,DL-13,Petrol,1st Owner,"35,519 km","₹2,78,499","₹5,445/month",Zero Down Payment
4,Maruti Swift,LXI Manual,2020,HR-51,Petrol,2nd Owner,"16,633 km","₹5,66,499","₹11,075/month",Zero Down Payment
...,...,...,...,...,...,...,...,...,...,...
1062,Maruti Baleno,DELTA CVT PETROL 1.2,2016,HR-10,Petrol,2nd Owner,"50,292 km","₹5,31,499","₹10,391/month",Zero Down Payment
1063,Hyundai Elite i20,SPORTZ 1.2 Manual,2016,DL-12,Petrol,1st Owner,"78,542 km","₹5,37,999","₹10,518/month",Zero Down Payment
1064,Maruti Alto 800,LXI Manual,2014,UP-14,Petrol,1st Owner,"82,248 km","₹2,23,699","₹4,373/month",Zero Down Payment
1065,Tata NEXON,XMA 1.5 Manual,2019,DL-8C,Diesel,1st Owner,"93,848 km","₹6,64,899","₹12,999/month",Zero Down Payment
1066,Maruti Swift,VXI Manual,2014,HR-26,Petrol,1st Owner,"98,438 km","₹3,68,799","₹7,210/month",Zero Down Payment

In [97]:
brand=[i.text for i in driver.find_elements(By.XPATH,"//h2[contains(@class,'_3FpCg')]")]
Vriant=[i.text for i in driver.find_elements(By.XPATH,"//p[contains(@class,'cvakB')]")]
Deatail=[i.text for i in driver.find_elements(By.XPATH,"//ul[contains(@class,'bVR0c')]")]
Emi=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'_2HFRN')]")]
Price=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'_7udZZ')]")]
Down_payment=[i.text for i in driver.find_elements(By.XPATH,"//span[contains(@class,'_3X7mV _2H07I')]")]

data=list(zip(brand,Vriant,Deatail,Emi,Price,Down_payment))
df3=pd.DataFrame(data,columns=['brand','model','details','emi','price','down payment'])
print("\ncars details banglore")
df3.head()

cars details banglore

,brand,model,details,emi,price,down payment
0,2011 Volkswagen Polo,COMFORTLINE 1.2L PETROL Manual,"13,268 km\n2nd Owner\nPetrol\nKA-02","₹8,565/month","₹4,38,099",Zero Down Payment
1,2011 Volkswagen Beetle,2.0 AT Automatic,"3,931 km\n1st Owner\nDiesel\nKA-05","₹29,175/month\n₹30,373/month","₹15,53,599",Zero Down Payment
2,2022 KIA SONET,GTX PLUS 1.5D AT DUAL TONE,"32,519 km\n1st Owner\nPetrol\nKA-51","₹31,111/month\n₹32,389/month","₹16,56,699",Zero Down Payment
3,2013 Maruti Alto 800,LXI Manual,"20,452 km\n1st Owner\nPetrol\nKA-03","₹5,679/month","₹2,90,499",Zero Down Payment
4,2012 Maruti Alto,LXI Manual,"6,264 km\n1st Owner\nPetrol\nKA-03","₹4,796/month","₹2,45,299",Zero Down Payment

In [98]:
new=df3["details"].str.split('\n',n=1,expand=True)
df3["km"]=new[0]
new=df3["details"].str.split('\n',n=2,expand=True)
df3["owner"]=new[1]
new=df3["details"].str.split('\n',n=3,expand=True)
df3["fuel"]=new[2]
new=df3["details"].str.split('\n',n=4,expand=True)
df3["city/state"]=new[3]
new=df3["brand"].str.split(' ',n=1,expand=True)
df3["manufacturing year"]=new[0]
new=df3["brand"].str.split(' ',n=1,expand=True)
df3["Brand"]=new[1]
new=df3["emi"].str.split('\n',n=1,expand=True)
df3["EMI"]=new[0]
new=df3["emi"].str.split('\n',n=1,expand=True)
df3["nil"]=new[1]

In [99]:
df3.drop(["details"],axis=1,inplace=True)
df3.drop(["brand"],axis=1,inplace=True)
df3.drop(["nil"],axis=1,inplace=True)
df3.drop(["emi"],axis=1,inplace=True)
New_colm=['Brand','model','manufacturing year','city/state','fuel','owner','km','price','EMI','down payment']
df3=df3.reindex(columns=New_colm)
df3

,Brand,model,manufacturing year,city/state,fuel,owner,km,price,EMI,down payment
0,Volkswagen Polo,COMFORTLINE 1.2L PETROL Manual,2011,KA-02,Petrol,2nd Owner,"13,268 km","₹4,38,099","₹8,565/month",Zero Down Payment
1,Volkswagen Beetle,2.0 AT Automatic,2011,KA-05,Diesel,1st Owner,"3,931 km","₹15,53,599","₹29,175/month",Zero Down Payment
2,KIA SONET,GTX PLUS 1.5D AT DUAL TONE,2022,KA-51,Petrol,1st Owner,"32,519 km","₹16,56,699","₹31,111/month",Zero Down Payment
3,Maruti Alto 800,LXI Manual,2013,KA-03,Petrol,1st Owner,"20,452 km","₹2,90,499","₹5,679/month",Zero Down Payment
4,Maruti Alto,LXI Manual,2012,KA-03,Petrol,1st Owner,"6,264 km","₹2,45,299","₹4,796/month",Zero Down Payment
...,...,...,...,...,...,...,...,...,...,...
923,Tata TIGOR,XZ 1.2 REVOTRON OPT Manual,2017,KA-53,Petrol,1st Owner,"74,514 km","₹5,77,199","₹11,284/month",Zero Down Payment
924,Hyundai Verna,1.6 SX VTVT AT (O) Automatic,2018,KA-04,Petrol,1st Owner,"63,320 km","₹11,95,899","₹22,458/month",Zero Down Payment
925,Hyundai Eon,ERA PLUS Manual,2012,KA-03,Petrol,1st Owner,"47,190 km","₹2,86,199","₹5,595/month",Zero Down Payment
926,Honda City,VX MT PETROL Manual,2015,KA-51,Petrol,1st Owner,"92,658 km","₹9,42,599","₹17,701/month",Zero Down Payment
927,Honda Brio,1.2 S MT I VTEC Manual,2013,KA-05,Petrol,1st Owner,"12,759 km","₹3,44,599","₹6,737/month",Zero Down Payment

In [167]:
data=pd.concat([df2,df3],axis=0)
data.sample(4)

,Brand,model,manufacturing year,city/state,fuel,owner,km,price,EMI,down payment
665,Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,2019,HR-83,Petrol + CNG,1st Owner,"43,686 km","₹5,20,599","₹10,178/month",Zero Down Payment
761,Maruti Baleno,DELTA 1.2 K12 Manual,2018,HR-26,Petrol,1st Owner,"50,893 km","₹5,51,599","₹10,784/month",Zero Down Payment
1012,Tata ALTROZ,XZ 1.5 RTQ,2021,HR-36,Diesel,1st Owner,"22,949 km","₹8,08,699","₹15,187/month",Zero Down Payment
926,Honda City,VX MT PETROL Manual,2015,KA-51,Petrol,1st Owner,"92,658 km","₹9,42,599","₹17,701/month",Zero Down Payment

In [168]:
data

,Brand,model,manufacturing year,city/state,fuel,owner,km,price,EMI,down payment
0,Maruti Swift Dzire,VXI Manual,2010,DL-7C,Petrol,1st Owner,"29,667 km","₹2,51,299","₹4,913/month",Zero Down Payment
1,Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,2018,UP-16,Petrol,2nd Owner,"6,875 km","₹5,26,599","₹10,295/month",Zero Down Payment
2,Maruti Swift,LXI Manual,2020,DL-3C,Petrol,1st Owner,"11,067 km","₹5,65,199","₹11,050/month",Zero Down Payment
3,Maruti Wagon R 1.0,VXI Manual,2013,DL-13,Petrol,1st Owner,"35,519 km","₹2,78,499","₹5,445/month",Zero Down Payment
4,Maruti Swift,LXI Manual,2020,HR-51,Petrol,2nd Owner,"16,633 km","₹5,66,499","₹11,075/month",Zero Down Payment
...,...,...,...,...,...,...,...,...,...,...
923,Tata TIGOR,XZ 1.2 REVOTRON OPT Manual,2017,KA-53,Petrol,1st Owner,"74,514 km","₹5,77,199","₹11,284/month",Zero Down Payment
924,Hyundai Verna,1.6 SX VTVT AT (O) Automatic,2018,KA-04,Petrol,1st Owner,"63,320 km","₹11,95,899","₹22,458/month",Zero Down Payment
925,Hyundai Eon,ERA PLUS Manual,2012,KA-03,Petrol,1st Owner,"47,190 km","₹2,86,199","₹5,595/month",Zero Down Payment
926,Honda City,VX MT PETROL Manual,2015,KA-51,Petrol,1st Owner,"92,658 km","₹9,42,599","₹17,701/month",Zero Down Payment
927,Honda Brio,1.2 S MT I VTEC Manual,2013,KA-05,Petrol,1st Owner,"12,759 km","₹3,44,599","₹6,737/month",Zero Down Payment

In [169]:
b=[i.text for i in driver.find_elements(By.XPATH,"//h2[contains(@class,'_3FpCg')]")]
v=[i.text for i in driver.find_elements(By.XPATH,"//p[contains(@class,'cvakB')]")]
d=[i.text for i in driver.find_elements(By.XPATH,"//ul[contains(@class,'bVR0c')]")]
e=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'_2HFRN')]")]
p=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'_7udZZ')]")]
Down=[i.text for i in driver.find_elements(By.XPATH,"//span[contains(@class,'_3X7mV _2H07I')]")]

data=list(zip(b,v,d,e,p,Down))
df4=pd.DataFrame(data,columns=['brand','model','details','emi','price','down payment'])
print("\ncars details hyderabad")
df4.head()

cars details hyderabad

,brand,model,details,emi,price,down payment
0,2021 Renault Kwid,RXL Manual,"25,223 km\n2nd Owner\nPetrol\nTS-04","₹8,416/month","₹4,30,499",Zero Down Payment
1,2016 Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,"11,662 km\n2nd Owner\nPetrol\nAP-05","₹8,790/month","₹4,49,599",Zero Down Payment
2,2021 Maruti Swift,VXI Manual,"82,666 km\n1st Owner\nPetrol\nTS-12","₹13,001/month","₹6,64,999",Zero Down Payment
3,2013 Maruti Alto 800,LXI Manual,"32,345 km\n2nd Owner\nPetrol\nAP-13","₹5,169/month","₹2,64,399",Zero Down Payment
4,2011 Hyundai i10,MAGNA 1.2 KAPPA2 Manual,"80,045 km\n1st Owner\nPetrol\nAP-28","₹5,734/month","₹2,93,299",Zero Down Payment

In [172]:
new=df4["details"].str.split('\n',n=1,expand=True)
df4["km"]=new[0]
new=df4["details"].str.split('\n',n=2,expand=True)
df4["owner"]=new[1]
new=df4["details"].str.split('\n',n=3,expand=True)
df4["fuel"]=new[2]
new=df4["details"].str.split('\n',n=4,expand=True)
df4["city/state"]=new[3]
new=df4["brand"].str.split(' ',n=1,expand=True)
df4["manufacturing year"]=new[0]
new=df4["brand"].str.split(' ',n=1,expand=True)
df4["Brand"]=new[1]
new=df4["emi"].str.split('\n',n=1,expand=True)
df4["EMI"]=new[0]
new=df4["emi"].str.split('\n',n=1,expand=True)
df4["nil"]=new[1]

In [173]:
df4.drop(["details"],axis=1,inplace=True)
df4.drop(["brand"],axis=1,inplace=True)
df4.drop(["nil"],axis=1,inplace=True)
df4.drop(["emi"],axis=1,inplace=True)
New_colm=['Brand','model','manufacturing year','city/state','fuel','owner','km','price','EMI','down payment']
df4=df4.reindex(columns=New_colm)
df4

,Brand,model,manufacturing year,city/state,fuel,owner,km,price,EMI,down payment
0,Renault Kwid,RXL Manual,2021,TS-04,Petrol,2nd Owner,"25,223 km","₹4,30,499","₹8,416/month",Zero Down Payment
1,Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,2016,AP-05,Petrol,2nd Owner,"11,662 km","₹4,49,599","₹8,790/month",Zero Down Payment
2,Maruti Swift,VXI Manual,2021,TS-12,Petrol,1st Owner,"82,666 km","₹6,64,999","₹13,001/month",Zero Down Payment
3,Maruti Alto 800,LXI Manual,2013,AP-13,Petrol,2nd Owner,"32,345 km","₹2,64,399","₹5,169/month",Zero Down Payment
4,Hyundai i10,MAGNA 1.2 KAPPA2 Manual,2011,AP-28,Petrol,1st Owner,"80,045 km","₹2,93,299","₹5,734/month",Zero Down Payment
...,...,...,...,...,...,...,...,...,...,...
528,Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,2015,TS-12,Petrol,1st Owner,"15,346 km","₹4,99,599","₹9,767/month",Zero Down Payment
529,Maruti Alto 800,LXI Manual,2013,AP-28,Petrol,2nd Owner,"60,758 km","₹2,72,299","₹5,323/month",Zero Down Payment
530,Honda City,V MT PETROL Manual,2017,TS-10,Petrol,1st Owner,"64,160 km","₹6,94,299","₹13,574/month",Zero Down Payment
531,Maruti OMNI E,STD Manual,2018,TS-08,Petrol,2nd Owner,"25,673 km","₹2,80,599","₹5,486/month",Zero Down Payment
532,Maruti Ciaz,1.4 S,2018,TS-08,Petrol,1st Owner,"28,477 km","₹6,90,799","₹13,505/month",Zero Down Payment

In [179]:
q=[i.text for i in driver.find_elements(By.XPATH,"//h2[contains(@class,'_3FpCg')]")]
w=[i.text for i in driver.find_elements(By.XPATH,"//p[contains(@class,'cvakB')]")]
e=[i.text for i in driver.find_elements(By.XPATH,"//ul[contains(@class,'bVR0c')]")]
r=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'_2HFRN')]")]
t=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'_7udZZ')]")]
y=[i.text for i in driver.find_elements(By.XPATH,"//span[contains(@class,'_3X7mV _2H07I')]")]

data=list(zip(q,w,e,r,t,y))
df5=pd.DataFrame(data,columns=['brand','model','details','emi','price','down payment'])
print("\ncars details pune")
df5.head()

cars details pune

,brand,model,details,emi,price,down payment
0,2021 Renault Kwid,RXL Manual,410 km\n1st Owner\nPetrol\nMH-12,"₹8,242/month","₹4,21,599",Zero Down Payment
1,2012 Maruti Wagon R 1.0,LXI Manual,"14,112 km\n1st Owner\nPetrol\nMH-04","₹5,883/month","₹3,00,899",Zero Down Payment
2,2012 Hyundai i10,ASTA 1.2 AT KAPPA2 WITH SUNROOF Automatic,"41,904 km\n2nd Owner\nPetrol\nMH-02","₹8,092/month","₹4,13,899",Zero Down Payment
3,2011 Hyundai i10,MAGNA 1.2 KAPPA2 Manual,"58,708 km\n1st Owner\nPetrol\nMH-14","₹5,851/month","₹2,99,299",Zero Down Payment
4,2012 Maruti Alto K10,VXI Manual,"34,402 km\n3rd Owner\nPetrol\nMH-12","₹4,250/month","₹2,17,399",Zero Down Payment

In [219]:

df5.drop(["nil"],axis=1,inplace=True)
df5.drop(["emi"],axis=1,inplace=True)
New_colm=['Brand','model','manufacturing year','city/state','fuel','owner','km','price','EMI','down payment']
df5=df5.reindex(columns=New_colm)
df5

,Brand,model,manufacturing year,city/state,fuel,owner,km,price,EMI,down payment
0,Renault Kwid,RXL Manual,2021,MH-12,Petrol,1st Owner,410 km,"₹4,21,599","₹8,242/month",Zero Down Payment
1,Maruti Wagon R 1.0,LXI Manual,2012,MH-04,Petrol,1st Owner,"14,112 km","₹3,00,899","₹5,883/month",Zero Down Payment
2,Hyundai i10,ASTA 1.2 AT KAPPA2 WITH SUNROOF Automatic,2012,MH-02,Petrol,2nd Owner,"41,904 km","₹4,13,899","₹8,092/month",Zero Down Payment
3,Hyundai i10,MAGNA 1.2 KAPPA2 Manual,2011,MH-14,Petrol,1st Owner,"58,708 km","₹2,99,299","₹5,851/month",Zero Down Payment
4,Maruti Alto K10,VXI Manual,2012,MH-12,Petrol,3rd Owner,"34,402 km","₹2,17,399","₹4,250/month",Zero Down Payment
...,...,...,...,...,...,...,...,...,...,...
422,Maruti Wagon R 1.0,LXI CNG Manual,2017,MH-12,Petrol + CNG,2nd Owner,"66,882 km","₹4,82,399","₹9,431/month",Zero Down Payment
423,Hyundai GRAND I10 NIOS,SPORTZ CNG MT Manual,2021,MH-12,Petrol + CNG,1st Owner,"20,981 km","₹8,17,599","₹15,354/month",Zero Down Payment
424,Renault Kwid,Neotech 1.0 EasyR Automatic,2021,MH-14,Petrol,2nd Owner,"5,485 km","₹5,49,299","₹10,739/month",Zero Down Payment
425,Mahindra Thar,CRDE 4X4 BS IV Manual,2018,MH-46,Diesel,2nd Owner,"23,583 km","₹7,77,999","₹15,210/month",Zero Down Payment
426,Honda City,ZX CVT Automatic,2022,MH-12,Petrol,1st Owner,"6,116 km","₹16,71,999","₹31,398/month",Zero Down Payment

In [181]:
z=[i.text for i in driver.find_elements(By.XPATH,"//h2[contains(@class,'_3FpCg')]")]
x=[i.text for i in driver.find_elements(By.XPATH,"//p[contains(@class,'cvakB')]")]
c=[i.text for i in driver.find_elements(By.XPATH,"//ul[contains(@class,'bVR0c')]")]
v=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'_2HFRN')]")]
b=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'_7udZZ')]")]
n=[i.text for i in driver.find_elements(By.XPATH,"//span[contains(@class,'_3X7mV _2H07I')]")]

data=list(zip(z,x,c,v,b,n))
df6=pd.DataFrame(data,columns=['brand','model','details','emi','price','down payment'])
print("\ncars details chennai")
df6.head()

cars details chennai

,brand,model,details,emi,price,down payment
0,2012 Hyundai i20,MAGNA O 1.2 Manual,"33,314 km\n2nd Owner\nPetrol\nTN-01","₹6,113/month","₹3,12,699",Zero Down Payment
1,2020 Maruti Swift,LXI Manual,"12,355 km\n1st Owner\nPetrol\nTN-18","₹11,847/month","₹6,05,999",Zero Down Payment
2,2013 Maruti Swift,VXI Manual,"37,446 km\n2nd Owner\nPetrol\nTN-11","₹8,330/month","₹4,26,099",Zero Down Payment
3,2010 Hyundai Santro Xing,GLS Manual,"45,401 km\n2nd Owner\nPetrol\nTN-09","₹4,670/month","₹2,38,849",Zero Down Payment
4,2019 Maruti Swift,VXI Manual,"36,419 km\n2nd Owner\nPetrol\nTN-12","₹12,891/month","₹6,59,399",Zero Down Payment

In [220]:
new=df6["details"].str.split('\n',n=1,expand=True)
df6["km"]=new[0]
new=df6["details"].str.split('\n',n=2,expand=True)
df6["owner"]=new[1]
new=df6["details"].str.split('\n',n=3,expand=True)
df6["fuel"]=new[2]
new=df6["details"].str.split('\n',n=4,expand=True)
df6["city/state"]=new[3]
new=df6["brand"].str.split(' ',n=1,expand=True)
df6["manufacturing year"]=new[0]
new=df6["brand"].str.split(' ',n=1,expand=True)
df6["Brand"]=new[1]
new=df6["emi"].str.split('\n',n=1,expand=True)
df6["EMI"]=new[0]
new=df6["emi"].str.split('\n',n=1,expand=True)
df6["nil"]=new[1]
df6.drop(["details"],axis=1,inplace=True)
df6.drop(["brand"],axis=1,inplace=True)
df6.drop(["nil"],axis=1,inplace=True)
df6.drop(["emi"],axis=1,inplace=True)
New_colm=['Brand','model','manufacturing year','city/state','fuel','owner','km','price','EMI','down payment']
df6=df6.reindex(columns=New_colm)
df6

,Brand,model,manufacturing year,city/state,fuel,owner,km,price,EMI,down payment
0,Hyundai i20,MAGNA O 1.2 Manual,2012,TN-01,Petrol,2nd Owner,"33,314 km","₹3,12,699","₹6,113/month",Zero Down Payment
1,Maruti Swift,LXI Manual,2020,TN-18,Petrol,1st Owner,"12,355 km","₹6,05,999","₹11,847/month",Zero Down Payment
2,Maruti Swift,VXI Manual,2013,TN-11,Petrol,2nd Owner,"37,446 km","₹4,26,099","₹8,330/month",Zero Down Payment
3,Hyundai Santro Xing,GLS Manual,2010,TN-09,Petrol,2nd Owner,"45,401 km","₹2,38,849","₹4,670/month",Zero Down Payment
4,Maruti Swift,VXI Manual,2019,TN-12,Petrol,2nd Owner,"36,419 km","₹6,59,399","₹12,891/month",Zero Down Payment
...,...,...,...,...,...,...,...,...,...,...
465,Hyundai Creta,1.6 SX PLUS AUTO PETROL Automatic,2017,TN-04,Petrol,2nd Owner,"55,275 km","₹10,86,099","₹20,396/month",Zero Down Payment
466,Maruti Alto 800,VXI Manual,2014,TN-09,Petrol,1st Owner,"50,864 km","₹2,89,799","₹5,666/month",Zero Down Payment
467,Skoda Rapid,1.6 MPI MT STYLE PLUS Manual,2016,TN-10,Petrol,1st Owner,"58,147 km","₹6,49,999","₹12,708/month",Zero Down Payment
468,Hyundai GRAND I10 NIOS,SPORTZ 1.2 AT Automatic,2021,TN-09,Petrol,1st Owner,"1,967 km","₹8,06,699","₹15,149/month",Zero Down Payment
469,Maruti IGNIS,DELTA 1.2 K12 AMT Automatic,2017,TN-14,Petrol,1st Owner,"43,233 km","₹4,83,999","₹9,462/month",Zero Down Payment

In [231]:
a=[i.text for i in driver.find_elements(By.XPATH,"//h2[contains(@class,'_3FpCg')]")]
s=[i.text for i in driver.find_elements(By.XPATH,"//p[contains(@class,'cvakB')]")]
d=[i.text for i in driver.find_elements(By.XPATH,"//ul[contains(@class,'bVR0c')]")]
f=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'_2HFRN')]")]
g=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'_7udZZ')]")]
h=[i.text for i in driver.find_elements(By.XPATH,"//span[contains(@class,'_3X7mV _2H07I')]")]
time.sleep(3)

data=list(zip(a,s,d,f,g,h))
df7=pd.DataFrame(data,columns=['brand','model','details','emi','price','down payment'])
print("\ncars details mumbai")
df7.head()

cars details mumbai

,brand,model,details,emi,price,down payment
0,2018 Volkswagen Ameo,COMFORTLINE 1.0 Manual,"14,710 km\n1st Owner\nPetrol\nMH-05","₹9,791/month","₹5,00,799",Zero Down Payment
1,2014 Maruti Wagon R 1.0,VXI Manual,"32,944 km\n1st Owner\nPetrol\nMH-05","₹5,624/month","₹2,87,649",Zero Down Payment
2,2016 Maruti Ertiga,VDI SHVS Manual,"47,026 km\n2nd Owner\nDiesel\nMH-46","₹15,237/month","₹7,79,399",Zero Down Payment
3,2012 Maruti Swift,ZXI Manual,"89,872 km\n1st Owner\nPetrol\nMH-12","₹6,831/month","₹3,49,399",Zero Down Payment
4,2016 Mahindra Kuv100,K8 5 STR Manual,"29,375 km\n1st Owner\nPetrol\nMH-05","₹8,426/month","₹4,30,999",Zero Down Payment

In [240]:
list1=[i.text for i in driver.find_elements(By.XPATH,"//h2[contains(@class,'_3FpCg')]")]
list2=[i.text for i in driver.find_elements(By.XPATH,"//p[contains(@class,'cvakB')]")]
list3=[i.text for i in driver.find_elements(By.XPATH,"//ul[contains(@class,'bVR0c')]")]
list4=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'_2HFRN')]")]
list5=[i.text for i in driver.find_elements(By.XPATH,"//div[contains(@class,'_7udZZ')]")]
list6=[i.text for i in driver.find_elements(By.XPATH,"//span[contains(@class,'_3X7mV _2H07I')]")]
time.sleep(3)

data=list(zip(list1,list2,list3,list4,list5,list6))
df8=pd.DataFrame(data,columns=['brand','model','details','emi','price','down payment'])
print("\ncars details gurgaon")
df8.head()

cars details gurgaon

,brand,model,details,emi,price,down payment
0,2019 Jeep Compass,1.4 LONGITUDE (O) AT Automatic,"23,525 km\n1st Owner\nPetrol\nDL-3C","₹36,108/month\n₹37,591/month","₹19,22,799",Zero Down Payment
1,2018 Jeep Compass,2.0 LONGITUDE (O) Manual,"79,397 km\n1st Owner\nDiesel\nUP-70","₹20,492/month\n₹21,333/month","₹10,91,199",Zero Down Payment
2,2021 Hyundai AURA,S 1.2 Kappa MT Manual,"26,468 km\n1st Owner\nPetrol\nDL-7C","₹12,958/month","₹6,62,799",Zero Down Payment
3,2020 Maruti Baleno,SIGMA 1.2 K12 Manual,"10,956 km\n2nd Owner\nPetrol\nHR-98","₹11,800/month","₹6,03,599",Zero Down Payment
4,2013 Hyundai i10,MAGNA 1.1 IRDE2 Manual,"27,384 km\n1st Owner\nPetrol\nDL-3C","₹5,509/month","₹2,81,799",Zero Down Payment

In [252]:
Data=pd.concat([df2,df3,df4,df5,df6,df7,df8],axis=0)
Data.drop(["brand"],axis=1,inplace=True)

Data.drop(["emi"],axis=1,inplace=True)

In [255]:
Data.drop(["details"],axis=1,inplace=True)
df=pd.DataFrame(Data)

In [256]:
df.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')

In [257]:
df

,Brand,model,manufacturing year,city/state,fuel,owner,km,price,EMI,down payment
0,Maruti Swift Dzire,VXI Manual,2010,DL-7C,Petrol,1st Owner,"29,667 km","₹2,51,299","₹4,913/month",Zero Down Payment
1,Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,2018,UP-16,Petrol,2nd Owner,"6,875 km","₹5,26,599","₹10,295/month",Zero Down Payment
2,Maruti Swift,LXI Manual,2020,DL-3C,Petrol,1st Owner,"11,067 km","₹5,65,199","₹11,050/month",Zero Down Payment
3,Maruti Wagon R 1.0,VXI Manual,2013,DL-13,Petrol,1st Owner,"35,519 km","₹2,78,499","₹5,445/month",Zero Down Payment
4,Maruti Swift,LXI Manual,2020,HR-51,Petrol,2nd Owner,"16,633 km","₹5,66,499","₹11,075/month",Zero Down Payment
...,...,...,...,...,...,...,...,...,...,...
5516,Maruti Alto 800,VXI Manual,2015,UP-16,Petrol,1st Owner,"28,148 km","₹2,81,899","₹5,511/month",Zero Down Payment
5517,Hyundai Grand i10,MAGNA 1.2 VTVT Manual,2016,DL-8C,Petrol + CNG,1st Owner,"46,894 km","₹3,98,799","₹7,797/month",Zero Down Payment
5518,Toyota Etios Liva,G Manual,2014,DL-8C,Petrol,2nd Owner,"25,753 km","₹3,24,599","₹6,346/month",Zero Down Payment
5519,Maruti Celerio,VXI CNG Manual,2018,DL-9C,Petrol + CNG,1st Owner,"61,414 km","₹5,06,299","₹9,898/month",Zero Down Payment
5520,Maruti Baleno,ALPHA PETROL 1.2,2018,DL-12,Petrol,1st Owner,"24,674 km","₹6,22,799","₹12,176/month",Zero Down Payment

In [259]:
df.to_csv('5000 cars data.csv')

In [260]:
Df=pd.read_csv(r'file:///C:\Users\anand\5000%20cars%20data.csv')

In [262]:
Df

,Unnamed: 0,Brand,model,manufacturing year,city/state,fuel,owner,km,price,EMI,down payment
0,0,Maruti Swift Dzire,VXI Manual,2010.0,DL-7C,Petrol,1st Owner,"29,667 km","₹2,51,299","₹4,913/month",Zero Down Payment
1,1,Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,2018.0,UP-16,Petrol,2nd Owner,"6,875 km","₹5,26,599","₹10,295/month",Zero Down Payment
2,2,Maruti Swift,LXI Manual,2020.0,DL-3C,Petrol,1st Owner,"11,067 km","₹5,65,199","₹11,050/month",Zero Down Payment
3,3,Maruti Wagon R 1.0,VXI Manual,2013.0,DL-13,Petrol,1st Owner,"35,519 km","₹2,78,499","₹5,445/month",Zero Down Payment
4,4,Maruti Swift,LXI Manual,2020.0,HR-51,Petrol,2nd Owner,"16,633 km","₹5,66,499","₹11,075/month",Zero Down Payment
...,...,...,...,...,...,...,...,...,...,...,...
5516,5516,Maruti Alto 800,VXI Manual,2015.0,UP-16,Petrol,1st Owner,"28,148 km","₹2,81,899","₹5,511/month",Zero Down Payment
5517,5517,Hyundai Grand i10,MAGNA 1.2 VTVT Manual,2016.0,DL-8C,Petrol + CNG,1st Owner,"46,894 km","₹3,98,799","₹7,797/month",Zero Down Payment
5518,5518,Toyota Etios Liva,G Manual,2014.0,DL-8C,Petrol,2nd Owner,"25,753 km","₹3,24,599","₹6,346/month",Zero Down Payment
5519,5519,Maruti Celerio,VXI CNG Manual,2018.0,DL-9C,Petrol + CNG,1st Owner,"61,414 km","₹5,06,299","₹9,898/month",Zero Down Payment
5520,5520,Maruti Baleno,ALPHA PETROL 1.2,2018.0,DL-12,Petrol,1st Owner,"24,674 km","₹6,22,799","₹12,176/month",Zero Down Payment